html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#pub-det-username {
    /*text-align: left;*/
}

#pub-like-btn {
    float: left;
    padding: 5px;
}

#pub-det-btn {
    float: left;
    padding: 5px;
}