@model IEnumerable<AllUsersViewModel>

@{
	ViewBag.Title = "All Users";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div id="main-card" class="text-center row main-card">
	@foreach (var user in Model)
	{
		<div class="card col-4" style="width: 375px; margin: 5px;">
			<a asp-controller="Profile" asp-action="UserProfile" asp-route-username="@user.UserName">
				<h5 class="card-title mt-1">@user.UserName</h5>
			</a>
			<h5 class="card-title mt-1">@user.Publications.Count publications</h5>
		</div>
	}
</div>