@model IEnumerable<PublicationViewModel>

@{
	ViewBag.Title = "My Publications";
}

<h2 class="text-center">@User.Identity?.Name</h2>
<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="row">
	@foreach (var publication in Model)
	{
		<partial name="_PublicationPartial" model="@publication" />
	}
</div>